#bookingForm{
    display: grid; 
    max-width: 200px; 
    gap: 20px;
    margin: 2vw;
}

.LabelForm{
    font-size: 1.5rem;
}

input[type], select{
    background-color: rgb(126, 32, 32);
    padding: 15px;
    font-family: "Roboto Mono",monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

input[disabled]{
    background-color: rgb(138, 44, 44);
    color:gray;
}