#nav{
    gap: 5vw;
    background-color: #FBDABB;
}

.flex{
    display: flex;
}

#logoNav{
    width: 15vw;
    height: 15vh;
    margin-left: 20px;
}

.list{
    width: 70vw;
    height: 10vh;
    text-align: center;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #495E57;
}

.navItem{
    margin: auto;
    font-family: 'Signika Negative', sans-serif;
    font-size: 2rem;
    color: white;
}

.login{
    margin:auto;
    margin-right: 3vw;
    width: 10vw;
    height: 10vh;
}

.loginB{
    width: 60%;
    height: 60%;
    margin: auto;
    border-radius: 10px;
}

.noDecoration{
    text-decoration: none;
}